@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
}

/* Top page h1 */
.line-height {
  line-height: 1.25 !important;
}

.backgroundImage {
  background-image: url('/BeltecLogoVertical.png');
  /* background-size: cover; */
  background-position: center;
  /* background-repeat: no-repeat; */
}

.backgroundKibanImage {
  background-image: url('/bg-kiban.jpg');
  /* background-size: cover; */
  background-position: center;
  opacity: 50;
  /* background-repeat: no-repeat; */
}

.bgImageWhite {
  background-image: url('/bg-white2.jpg');
  background-position: center;
  background-size: cover;
}

/* Tostify */
.Toastify__toast-body {
  white-space: pre-line;
}
